/* COMMON CSS CLASSES */
.flexBox {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
}

/* HEADER */

header {
    width: 100%;
    /* background-color: #075E54; */
    background: url(./images/header_image.jpg);
    height: 100px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.logo {
    margin-left: 30px;
    padding: 8px;
    color: #ECBC0D;
    font-size: 30px;
    font-weight: 900;
    border: 2px solid #ECBC0D;
    border-radius: 5px;
    cursor: pointer;
}

.logo:hover {
    box-shadow: 0px 0px 10px 0px #ECBC0D;
}

.headerMenu {
    color: #fff;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
}

.headerMenu:hover {
    color: #ECBC0D;
}

/* BODY SECTION */

body {
    margin: 0 auto;
    background-color: #ece5dd;
}

.globalWidth {
    max-width: 2000px;
    width: 80%;
    margin: 0 auto;
}

.hrmButtons {
    padding: 10px 20px;
    background-color: #0f2a3c;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

#sortButton {
    height: 50px;
}

.hrmButtons:hover {
    box-shadow: 0px 0px 10px 0px #075E54;
}

.buttonSection {
    margin-top: 50px;
}

#filterButton {
    margin-left: 50px;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

th {
    border: 1px solid #dddddd;
    padding: 12px;
    font-size: 15px;
    background-color: #272f37;
    color: #fff;
}

td {
    text-align: left;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #bdbdbd;
}

td:first-child {
    text-align: right;
}

tr {
    background-color: #dddddd;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
}

.editButton {
    padding: 5px;
    background-color: #bdbdbd;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.fa-pen-to-square,
.fa-trash {
    color: #000;
    font-size: 20px;
}

.fa-pen-to-square:hover {
    color: #06304b;
}

.fa-trash:hover {
    color: #FE0000;
}

.deleteButton {
    padding: 5px;
    background-color: #bdbdbd;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.errorDiv {
    margin: 50px auto;
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 100px;
    background-color: #FE0000;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    position: relative;
}

.errorDiv span {
    position: relative;
    top: 40%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: -60px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #ece5dd;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
    z-index: 2;
}

.close {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
}

.close:hover,
.close:focus {
    color: #ECBC0D;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    height: 80px;
    /* background-color: #075E54; */
    background: url(./images/header_image.jpg);
    margin-bottom: 30px;
}

.modalHeading {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    padding-left: 20px;
}

.label {
    font-size: 20px;
    padding-right: 30px;
    line-height: 50px;
}

.input {
    line-height: 50px;
}

input {
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 15px;
}

.formBox {
    display: flex;
    justify-content: center;
}

#dob {
    width: 200px;
    padding: 1px;
}

.modalButton {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

#modalButton {
    padding: 10px 30px;
    background-color: #06304b;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#modalButton:hover {
    box-shadow: 0px 0px 10px 0px #075E54;
}

#cancelButton {
    padding: 10px 30px;
    background-color: #888;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#cancelButton:hover {
    box-shadow: 0px 0px 10px 0px #075E54;
}

#skillInputBox {
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
}

#skillUpdateBox {
    border: 1px solid #000;
}

.addSkillSpan {
    padding: 5px;
    margin: 2px;
    background-color: #888;
}

#skillBox {
    position: relative;
    max-width: 270px;
    width: 100%;
    /* background-color: #fff; */
}

#autoSuggestion {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    max-height: 250px;
    overflow-y: auto;
}

.option {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#skills {
    flex: 1;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

#deleteContent {
    font-size: 25px;
    padding-left: 20px;
}

.delBtns {
    display: flex;
    justify-content: center;
}

#deleteYes {
    padding: 10px 20px;
    background-color: #FE0000;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}

#deleteNo {
    padding: 10px 20px;
    background-color: #888;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

::placeholder {
    color: #fff;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* FOOTER */

footer {
    background-color: #075E54;
    color: #fff;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.footerLogo {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #ECBC0D;
    position: absolute;
    bottom: 10%;
    left: 40%;
}